@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}


.input-field {
  @apply w-full placeholder:text-[13px] p-2 border border-primary rounded-md focus:outline-none focus:border-accenthover transition;
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit (Chrome, Safari) */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Hide scrollbar for IE & Edge */
  scrollbar-width: none;      /* Hide scrollbar for Firefox */
}


body {
  background-color: #e3edea; 
  color: #333; 
}